profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
}

manifest {
    name            = 'scilus/nf-neuro-tutorial'
    description     = """nf-neuro-tutorial is a Nextflow pipeline for processing neuroimaging data."""
    version         = '0.1dev'
}

params.input      = false
params.output     = 'result'

// ** subworkflow PREPROC_DIFF **
params.preproc_dwi_run_denoising = true

// ** Subworkflow PREPROC T1 **
params.preproc_t1_run_denoising = true
params.preproc_t1_run_N4 = false
params.preproc_t1_run_resampling = false
params.preproc_t1_run_ants_bet = false
params.preproc_t1_run_synthbet = true
params.preproc_t1_run_crop = false


process {

    publishDir = [
        path: { "${params.output}/$meta.id/${task.process.replaceAll(':', '-')}" },
        mode: 'copy'
    ]

    withName: "DENOISING_MPPCA" {
        ext.extent = 3
    }

    withName: "BETCROP_SYNTHBET" {
        memory = "4G"
        ext.nocsf = false
    }

    withName: "RECONST_DTIMETRICS" {
        ext.ad = false
        ext.evecs = false
        ext.evals = false
        ext.fa = true
        ext.ga = false
        ext.rgb = false
        ext.md = false
        ext.mode = false
        ext.norm = false
        ext.rd = false
        ext.tensor = false
        ext.nonphysical = false
        ext.pulsation = false
        ext.residual = false
        ext.b0_thr_extract_b0 = 10
        ext.dwi_shell_tolerance = 50
        ext.max_dti_shell_value = 1200
        ext.run_qc = true
    }

    withName: "STATS_METRICSINROI" {
        ext.bin = true
        ext.normalize_weights = false
    }
}